:root {
    /* --black: #1b1b1b;
    --dark-gray: #595753;
    --gray: #97948A;
    --light-gray: #EAE4D4;
    --white: #fff8e7; */

    --black: #000000;
    --dark-gray: #444444;
    --gray: #888888;
    --light-gray: #EEEEEE;
    --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
    background-color: var(--white);
    color: var(--black);
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    max-width: 120ch;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-align: center;
    margin: 0 0 0.2em 0;
}

h1 a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

h2 a {
    text-decoration: none;
    text-transform: capitalize;
}

h2 a:hover::after {
    content: " ↩";
    font-size: 0.8em;
}

a {
    color: inherit;
}

footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    font-size: 0.8em;
    color: var(--gray);
    border-top: 2px solid var(--black);
    margin-bottom: -0.6rem;
}



footer a {
    color: var(--gray);
}

#tgw-heading p {
    text-align: center;
    font-size: 0.8em;
}

#tgw-content {
    max-width: 70ch;
    margin: 2rem auto;
}

#tgw-content a:visited {
    color: var(--gray);
}

#nav {
    border-top: 4px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 0.4em 0;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    text-transform: capitalize;
}

#nav a:hover {
    text-decoration: underline;
}

#content {
    margin-top: 1rem;
}

#content .topic .feeds {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
}

#editions {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray);
}

#editions a {
    text-decoration: none;
    color: var(--gray);
}

#editions a.selected {
    color: var(--black);
}

#end {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#end a,
.sub-nav * {
    text-decoration: none;
    font-size: 1.4em;
    text-align: right;
}

.sub-nav span {
    color: var(--gray);
    cursor: default;
}

#failed {
    color: var(--gray);
    font-size: 0.8em;
    border-top: 1px solid var(--black);
}

#failed ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.4em;
    flex-wrap: wrap;
}

#failed a {
    color: inherit;
}

.subtitle {
    font-style: italic;
}

.further-reading {
    margin: 0 1rem 1rem;
    padding: 0 1rem;
    color: var(--gray);
    font-size: 0.8em;
    border: 1px solid var(--light-gray);
}

.topic {
    width: 100%;
}

.topic:nth-of-type(1n + 2) {
    padding-top: 1rem;
    border-top: 1px solid var(--black);
}

.topic-heading {
    display: flex;
    justify-content: space-between;
}

.feed-name a {
    text-decoration: none;
}

.feed-name a:hover {
    text-decoration: underline;
}

.posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post a {
    padding: 0.2em 0;
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.post a:visited {
    color: var(--gray);
}

.post:hover {
    background-color: var(--light-gray);
}

.post .post-title {
    text-decoration: underline;
}

.post.more-posts a {
    color: var(--gray);
    font-size: 0.8em;
    display: block;
    width: min-content;
}

.post.more-posts a .post-title{
    text-decoration: none;
}

.post.more-posts:hover {
    background-color: unset;
}

.recency {
    color: var(--gray);
    font-size: 0.8em;
    text-decoration: none;
}

.recency::before {
    content: "[";
}

.recency::after {
    content: "]";
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --white: #1b1b1b;
        --light-gray: #595753;
        --gray: #97948A;
        --dark-gray: #EAE4D4;
        --black: #fff8e7; */

        --white: #000000;
        --light-gray: #444444;
        --gray: #888888;
        --dark-gray: #EEEEEE;
        --black: #FFFFFF;
    }
}

@media (min-width: 800px) {
    #tgw-heading {
        padding-top: 0.4rem;
        position: relative;
    }

    #tgw-heading > div {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    p.issue-info.date {
        position: absolute;
        left: 0px;
        top: 0px;
        margin: 0;
    }

    p.issue-info.info {
        text-align: right;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 0;
    }
}
